*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
data/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
data/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab
data/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream
data/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream.len
data/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.len
data/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.values.at
data/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab_i
data/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab_i.len
data/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab
data/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
data/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
data/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.len
data/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
data/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i
data/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
data/build/kotlin/compileKotlin/caches-jvm/lookups/counters.tab
data/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab
data/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.keystream
data/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.keystream.len
data/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.len
data/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.values.at
data/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab_i
data/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab_i.len
data/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab
data/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.keystream
data/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.keystream.len
data/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.len
data/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.values.at
data/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab_i
data/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab_i.len
data/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab
data/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.keystream
data/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.keystream.len
data/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.len
data/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.values.at
data/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab_i
data/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab_i.len
data/build/libs/data.jar
data/build/tmp/jar/MANIFEST.MF
domain/build/.transforms/63f63320252cec19a26fb9a0e7547a9f.bin
domain/build/.transforms/c1b0bcc36ee07df4f0c134c144eb7d34.bin
domain/build/.transforms/cfe82236810b5100a08b3c473dc0434e.bin
domain/build/.transforms/c1b0bcc36ee07df4f0c134c144eb7d34/jetified-domain/classes.dex
domain/build/.transforms/cfe82236810b5100a08b3c473dc0434e/jetified-domain.jar
domain/build/classes/kotlin/main/com/estebanposada/domain/bitcoin.class
domain/build/classes/kotlin/main/com/estebanposada/domain/dolar.class
domain/build/classes/kotlin/main/com/estebanposada/domain/dolar_intercambio.class
domain/build/classes/kotlin/main/com/estebanposada/domain/euro.class
domain/build/classes/kotlin/main/com/estebanposada/domain/imacec.class
domain/build/classes/kotlin/main/com/estebanposada/domain/IndicatorDB.class
domain/build/classes/kotlin/main/com/estebanposada/domain/ipc.class
domain/build/classes/kotlin/main/com/estebanposada/domain/ivp.class
domain/build/classes/kotlin/main/com/estebanposada/domain/libra_cobre.class
domain/build/classes/kotlin/main/com/estebanposada/domain/tasa_desempleo.class
domain/build/classes/kotlin/main/com/estebanposada/domain/tpm.class
domain/build/classes/kotlin/main/com/estebanposada/domain/uf.class
domain/build/classes/kotlin/main/com/estebanposada/domain/utm.class
domain/build/classes/kotlin/main/META-INF/domain.kotlin_module
domain/build/kotlin/domainjar-classes.txt
domain/build/kotlin/compileKotlin/build-history.bin
domain/build/kotlin/compileKotlin/last-build.bin
domain/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab
domain/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.keystream
domain/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.keystream.len
domain/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.len
domain/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.values.at
domain/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab_i
domain/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab_i.len
domain/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
domain/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
domain/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
domain/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
domain/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
domain/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
domain/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
domain/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab
domain/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
domain/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
domain/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
domain/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
domain/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
domain/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
domain/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab
domain/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream
domain/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream.len
domain/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.len
domain/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.values.at
domain/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab_i
domain/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab_i.len
domain/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab
domain/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
domain/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
domain/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.len
domain/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
domain/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i
domain/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
domain/build/kotlin/compileKotlin/caches-jvm/lookups/counters.tab
domain/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab
domain/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.keystream
domain/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.keystream.len
domain/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.len
domain/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.values.at
domain/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab_i
domain/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab_i.len
domain/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab
domain/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.keystream
domain/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.keystream.len
domain/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.len
domain/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.values.at
domain/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab_i
domain/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab_i.len
domain/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab
domain/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.keystream
domain/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.keystream.len
domain/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.len
domain/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.values.at
domain/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab_i
domain/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab_i.len
domain/build/libs/domain.jar
domain/build/tmp/jar/MANIFEST.MF
usecases/build/.transforms/4281bc8b1fd3ed87135db2f217999f62.bin
usecases/build/.transforms/9dc0f8668ee46697b78f350124128353.bin
usecases/build/.transforms/a192d8468351affdb95b2bebabf94737.bin
usecases/build/.transforms/b9ad82baa8039227adf8945332bf4b0f.bin
usecases/build/.transforms/4281bc8b1fd3ed87135db2f217999f62/jetified-usecases/classes.dex
usecases/build/.transforms/a192d8468351affdb95b2bebabf94737/jetified-usecases/classes.dex
usecases/build/.transforms/b9ad82baa8039227adf8945332bf4b0f/jetified-usecases.jar
usecases/build/classes/kotlin/main/com/estebanposada/usecases/GetIndicators.class
usecases/build/classes/kotlin/main/META-INF/usecases.kotlin_module
usecases/build/kotlin/usecasesjar-classes.txt
usecases/build/kotlin/compileKotlin/build-history.bin
usecases/build/kotlin/compileKotlin/last-build.bin
usecases/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab
usecases/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.keystream
usecases/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.keystream.len
usecases/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.len
usecases/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.values.at
usecases/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab_i
usecases/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab_i.len
usecases/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
usecases/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
usecases/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
usecases/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
usecases/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
usecases/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
usecases/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
usecases/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab
usecases/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
usecases/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
usecases/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
usecases/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
usecases/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
usecases/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
usecases/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab
usecases/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream
usecases/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream.len
usecases/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.len
usecases/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.values.at
usecases/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab_i
usecases/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab_i.len
usecases/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab
usecases/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
usecases/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
usecases/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.len
usecases/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
usecases/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i
usecases/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
usecases/build/kotlin/compileKotlin/caches-jvm/lookups/counters.tab
usecases/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab
usecases/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.keystream
usecases/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.keystream.len
usecases/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.len
usecases/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.values.at
usecases/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab_i
usecases/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab_i.len
usecases/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab
usecases/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.keystream
usecases/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.keystream.len
usecases/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.len
usecases/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.values.at
usecases/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab_i
usecases/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab_i.len
usecases/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab
usecases/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.keystream
usecases/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.keystream.len
usecases/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.len
usecases/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.values.at
usecases/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab_i
usecases/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab_i.len
usecases/build/libs/usecases.jar
usecases/build/tmp/jar/MANIFEST.MF
